<h1>Blog Posts</h1>
<% @posts.each do |post| %>
  <div>
    <%= image_tag post.cover_image if post.cover_image.present?%>
    <!-- <h2><%= link_to post.title, "/posts/#{post.id }" %></h2> -->
    <!-- <h2> <%= link_to post.title, post_path(post.id)%> </h2> -->
    <!--<h2> <%= link_to post.title, post_path(post)%> </h2> -->
    <!--These three do the same thing using the naming-->
    <% if post.draft? %>
      <div class="p-2 rounded bg-gray-100 text-gray-900">Draft</div>
    <% elsif post.scheduled? %>
      <div class="p-2 rounded bg-blue-100 text-blue-900">Scheduled</div>
    <%end %>
    <h2> <%= link_to post.title, (post)%> </h2>
    <%= post.body.html_safe%>
  </div>
<%end%>
<div class="my-16" >
  <%== pagy_nav(@pagy)%>
</div>
